:root{
    --color-1: #F0F2F0;
    --color-2: #038C4C;
    --color-3: #03733F;
    --color-4: #0B593C;
    --color-5: #163C40;
    --color-6: #192c2e;
}

/* apartado de css para el inicio/index */
body{
    background-color: var(--color-6) !important;
 font-family: 'Arial', sans-serif;
 height: 100%;
 width: 100%;
 color: white !important;
}

section.bienvenida{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../imagenes/politecnico-edificio.jpeg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 150px;
        position: relative;
    color: white;
    border-radius: 20px;
}
section.bienvenida h1{
    color: var(--color-2);
    text-shadow: black 2px 2px 4px;
}
section.descripcion{
    background-color: var(--color-6);
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 20px;
    padding: 20px 0;
    color: white;
    border-left: var(--color-2) solid 3px;
    border-top: var(--color-2) solid 0.5px;
    text-shadow: black 1px 1px 2px;
}
section.descripcion h3{
    color: var(--color-2);
}
section.carrusel{
    max-width: 60%;
    padding: 20px 0;
    margin-left: 65px;
    margin-right: 65px;
}
section.cartas{
    margin-left: 65px;
    margin-right: 65px;
    padding: 20px 0;

}
div.card{
    background-color: var(--color-5);
    color: white;
    border: black solid 1px;
    border-radius: 20px;
}
div.card .card-title{
    color: var(--color-2);
}
div.card img{
    height: 350px;
    object-fit: cover;
}
div a.btn-primary{
    background-color: var(--color-2);
    border: none;
}
div a.btn-primary:hover{
    background-color: var(--color-3);
}
nav.navbar{
    background-color: var(--color-5);
    border-bottom: black solid 1px;
}
nav a.nav-link:hover{
    background-color: var(--color-4);
    color: white !important;
    border: black solid 1px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right:  10px;
    font-size: large;
    transition: 0.3s;
}